* {
    box-sizing:border-box;
  }

  body {
    font-family: "Poppins";
    background-color:#FF661D;
    /*
    height: max-content;
    width: max-content;
    animation-name: bgcolor;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    */
  }

  .Rectangle40 {
    animation-name: redbox;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes redbox {
    0%   {background-color:red; left:300px; top:200px;}
    25%  {background-color:rgba(255, 255, 0, 0.306); left:200px; top:0px;}
    50%  {background-color:#B98F63; left:0px; top:575px;}
    75%  {background-color:rgba(0, 128, 0, 0.612); left:550px; top:500px;}
    100% {background-color:red; left:500px; top:0px;}
  }

  .Rectangle41 {
    animation-name: cyanbox;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes cyanbox {
    0%   {background-color:#FF4848; left:600px; top:400px;}
    25%  {background-color:rgba(255, 255, 0, 0.306); right:200px; top:100px;}
    50%  {background-color:#B98F63; left:100px; top:0px;}
    75%  {background-color:red; left:500px; top:100px;}
    100% {background-color:#B98F63; left:100px; top:500px;}
  }

  .Rectangle420 {
    animation-name: box;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes box {
    0%   {background-color:#ff484871; right:100px; top:100px;}
    25%  {background-color:#FF4848; left:900px; top:300px;}
    50%  {background-color:#b98f6358; right:200px; top:880px;}
    75%  {background-color:#FF4848; right:100px; top: 850px;}
    100% {background-color:#ff48485c; right:600px; top: 300px;}
  }